nav {
    background-color: rgb(159, 225, 252);
    font-weight: bold;
    border-bottom: 5px solid black;
    font-size: larger;
}


table, th, td {
    border: 2px double;
    width: 34%;
    box-shadow: 0px 3px 6px 0px rgba(51, 48, 48, 0.733);
}



a {
    text-decoration: none;
}

a.createlink:link { color: black; }
a.createlink:hover { font-size: 150%; }


tr:hover {
    background-color: rgb(187, 184, 184);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

