{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    </head>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <body>
        <main>
            {% if user.is_authenticated %}
                <div>
                    <h1>{{ projects.name }}</h1>
                    <p>{{ projects.description }}</p>
                    <h2>Tasks</h2>
                    <p>
                        <a class="createlink" href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    {% if projects.tasks.all|length == 0  %}
                    <p>This project has no tasks</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in projects.tasks.all %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.start_date|date:"M.d,o" }} {{ task.start_date|time:"g:i a" }}</td>
                                        <td>{{ task.due_date|date:"M.d,o" }} {{ task.due_date|time:"g:i a" }}</td>
                                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            {% endif %}
        </main>
    </body>
</html>
